<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Soret-project</ion-title>
    <ion-chip>
      <ion-avatar>
        <img src="assets/icon/custom-marker-icon.png" />
      </ion-avatar>
      <ion-label>where i am</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="mapId" style="height: 400px"></div>
  <ion-content>
    <ion-item>
      <ion-label>Destination</ion-label>
    </ion-item>
  </ion-content>
  <ion-footer>
    <!-- <ion-input [(ngModel)]="Destination" mbsc-date></ion-input> -->
  </ion-footer>
</ion-content>
