<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
 

<mbsc-card collapsible open #run2="mobiscroll">
    <mbsc-card-header class="mbsc-card-header">
        <div>
            <mbsc-card-subtitle class="mbsc-bold mbsc-txt-s">30/07/2018</mbsc-card-subtitle>
            <div class="mbsc-bold">MONDAY AFTERNOON RUN</div>
            <div class="mbsc-grid mbsc-margin mbsc-txt-muted mbsc-bold mbsc-txt-s">
                <div class="mbsc-row mbsc-no-padding">
                    <div class="mbsc-col">4.28km</div>
                    <div class="mbsc-col">4'12"/km</div>
                    <div class="mbsc-col">26:41</div>
                </div>
            </div>
        </div>
    </mbsc-card-header>
    <mbsc-card-content class="mbsc-no-padding">
        <img src="https://img.mobiscroll.com/demos/run-2.png" />
        <div class="mbsc-btn-group-block">
            <button class="mbsc-btn-primary">View details</button>
            <button class="mbsc-btn-secondary">Share your run</button>
        </div>
    </mbsc-card-content>
</mbsc-card>

<mbsc-card collapsible #run3="mobiscroll">
    <mbsc-card-header class="mbsc-card-header">
        <div>
            <mbsc-card-subtitle class="mbsc-bold mbsc-txt-s">01/08/2018</mbsc-card-subtitle>
            <div class="mbsc-bold">WEDNESDAY AFTERNOON RUN</div>
            <div class="mbsc-grid mbsc-margin mbsc-txt-muted mbsc-bold mbsc-txt-s">
                <div class="mbsc-row mbsc-no-padding">
                    <div class="mbsc-col">7.02km</div>
                    <div class="mbsc-col">3'59"/km</div>
                    <div class="mbsc-col">37:41</div>
                </div>
            </div>
        </div>
    </mbsc-card-header>
    <mbsc-card-content class="mbsc-no-padding">
        <img src="https://img.mobiscroll.com/demos/run-3.png" />
        <div class="mbsc-btn-group-block">
            <button class="mbsc-btn-primary">View details</button>
            <button class="mbsc-btn-secondary">Share your run</button>
        </div>
    </mbsc-card-content>
</mbsc-card>
</ion-content>
